
.screen {
  background-image: url(/images/background.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: "Fira Sans", "Trebuchet MS", Helvetica, sans-serif;
  height: 480px;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 800px;
}
.modal {
  color: #000;
  height: 480px;
  width: 800px;
}
.page-title {
  font-weight: 400;
  text-align: center;
}
.timer {
  text-align: center;
}
.timer-value {
  font-size: 120px;
  line-height: 90px;
  margin: 0;
}
.timer-label {
  font-size:50px;
  /*line-height: 100px;*/
  margin: 0;
}
.button {
  text-align: center;
}
.button span {
  display: block;
  font-size: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.video {
  min-height: 300px;
  background-color: #590000
}

.notice {
  color: #ccc;
  text-align: center;
}
.centered {
  text-align: center;
}
